spnClientId=<your-clientID>
spnClientSecret=<your-clientSecret>
spnTenantId=<your-tenantID>
subscriptionId=<your-subID>
TFSTATE_STORAGE_ACCOUNT_NAME=<your-state-storage-acct-name>
TFSTATE_STORAGE_ACCOUNT_CONTAINER_NAME=<your-state-storage-acct-container-name>
TFSTATE_STORAGE_ACCOUNT_KEY=<your-state-storage-acct-key1>